.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkbox-container label::before {
  content: '';
  width: 1em;
  height: 1em;
  border: 0.05em solid black;
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 3px;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
  background-color: var(--button-primaryFocus);
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: var(--field-color);
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 20px black;
}
