.radio-btn_itss-group {
  width: 100%;
}
.radio-container_itss {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.radio-container_itss label {
  cursor: pointer;
  display: flex;
}

.radio-container_itss input[type='radio'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.radio-container_itss label::before {
  content: '';
  width: 1em;
  height: 1em;
  border: 2px solid #bdbdbd;
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 3px;
  border-radius: 50%;
}

.radio-container_itss label:hover::before,
.radio-container_itss input[type='radio']:hover + label::before {
  background-color: var(--button_itss-primaryFocus);
}

.radio-container_itss input[type='radio']:checked + label::before {
  /* content: '\002714'; */
  /* background-color: var(--field_itss-color); */
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 0.1em #fff, inset 0 0 0 2em var(--field_itss-color);
  border: 2px solid var(--field_itss-color);
}

/* .radio-container_itss input[type='radio']:focus + label::before{
    box-shadow: 0 0 20px black;
} */
